$white: #fff;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,html {
  background-image: url('../img/hexabump.png');
  background-color: black;
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  margin: 10px 5px;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  color: $white;
  &:hover {
    color: darkorange;
  }
}

.image-holder {
  border: 5px solid $white;
  width: 510px;
  height: 310px;
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
  p {
    text-align: center;
  }
}

ul {
  margin:0;
  padding:0;
  li {
    list-style: none;
  } 
}

.main-gallery { 
  li {
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    img {
      position: absolute;
      margin: 0;
      padding: 0;

    }
  } 
  .selected {
    opacity: 1;
  }
}

.thumbs-gallery {
  margin-top: 20px;
  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    img {
      opacity: 0.5;
      width: 100px;
      height: 100px;
    }
    &:hover, &.selected {
      img {
        opacity: 1;
      }
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  body,html {
    background-image: url('../img/hexabump_@2X.png');
    background-size: 19px 33px;
  }

}
